<main role="main">

    <div class="container">

    <h1 class="text-center starwarsfont text-warning">Mes vaisseaux</h1>
        <div class="row">
            <a [routerLink]="['/vehicules/add']" class="btn btn-warning btn-block m-3"><h3>Ajouter un vaisseau</h3></a>
            <div class="col-md-4" *ngFor="let element of vaisseaux">
                <div class="card text-light border-light" style="height: 36rem; background-color: #1e1d1d">
                    <img class="card-img-top" src="{{ element.image }}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{ element.nom }}</h5>
                    <p class="card-text">{{ element.description }}</p>
                    <hr>
                    <p><b>Model</b> : {{ element.model }}</p>
                    <p><b>Créateur</b> : {{ element.creator }}</p>
                    <p><b>Nombre de passager</b> : {{ element.nbrPassager }}</p>
                    <a [routerLink]="['/vehicules', element.id]" class="btn btn-warning">En savoir plus</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
